In [ ]:
# BASIC OF PYTHON

In [ ]:
1. Split this string

In [1]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

In [ ]:
2. Use .format() to print the following string.

In [ ]:
Output should be: The diameter of Earth is 12742 kilometers.

In [3]:
planet = "Earth"
diameter = 12742
planet = "Earth"
diameter = 12742
print("The diameter of {0}is{1} Kilometeres".format(planet,diameter))

The diameter of Earthis12742 Kilometeres

In [ ]:
3. In this nest dictionary grab the word "hello"

In [4]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [ ]:
# Numpy

In [ ]:
4.1 Create an array of 10 zeros?

In [ ]:
4.2 Create an array of 10 fives?

In [5]:
import numpy as np
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [6]:
np.ones(10)*5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [ ]:
5. Create an array of all the even integers from 20 to 35

In [7]:
np.arange(20 , 35 , 2)

array([20, 22, 24, 26, 28, 30, 32, 34])

In [ ]:
6. Create a 3x3 matrix with values ranging from 0 to 8

In [8]:
b = np.arange(0,9).reshape(3,3)
b

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [ ]:
7. Concatenate a and b
a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [11]:
a = np.array([1,2,3])
b = np.array([4,5,6])
np.concatenate((a,b),axis=0)

array([1, 2, 3, 4, 5, 6])

In [ ]:
# PANDAS

In [ ]:
8. Create a dataframe with 3 rows and 2 columns

In [13]:
import pandas as pd
d = {"names":["Ragapriya","Pooja","Ramani","PrincyCelsia"],"age":[20,19,20,21]}
df = pd.DataFrame(d)
df

          names  age
0     Ragapriya   20
1         Pooja   19
2        Ramani   20
3  PrincyCelsia   21

In [ ]:
9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [14]:
P = pd.date_range(start='1-1-2023',end='2-10-2023')
for val in P:
  print(val);

2023-01-01 00:00:00
2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00
2023-01-05 00:00:00
2023-01-06 00:00:00
2023-01-07 00:00:00
2023-01-08 00:00:00
2023-01-09 00:00:00
2023-01-10 00:00:00
2023-01-11 00:00:00
2023-01-12 00:00:00
2023-01-13 00:00:00
2023-01-14 00:00:00
2023-01-15 00:00:00
2023-01-16 00:00:00
2023-01-17 00:00:00
2023-01-18 00:00:00
2023-01-19 00:00:00
2023-01-20 00:00:00
2023-01-21 00:00:00
2023-01-22 00:00:00
2023-01-23 00:00:00
2023-01-24 00:00:00
2023-01-25 00:00:00
2023-01-26 00:00:00
2023-01-27 00:00:00
2023-01-28 00:00:00
2023-01-29 00:00:00
2023-01-30 00:00:00
2023-01-31 00:00:00
2023-02-01 00:00:00
2023-02-02 00:00:00
2023-02-03 00:00:00
2023-02-04 00:00:00
2023-02-05 00:00:00
2023-02-06 00:00:00
2023-02-07 00:00:00
2023-02-08 00:00:00
2023-02-09 00:00:00
2023-02-10 00:00:00

In [ ]:
10. Create 2D list to DataFrame
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [15]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
df = pd.DataFrame(lists)
df

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24